<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="postAPIurl" value="http://weblaunch.blifax.com/postapi"/>
    <add key="user" value="jthomas@blimessaging.com"/>
    <add key="password" value="pentagon625"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
